name: build

on:
  push:
  pull_request:

jobs:
  build:
    # TEMP: disabled while testing other builds
    if: ${{ false }}
    name: build (ubuntu-latest / ${{ matrix.name }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: server
            variant: server

          - name: client/CT=client
            variant: client
            conftype: client

          - name: client/CT=server
            variant: client
            conftype: server

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            build-essential \
            libc-ares-dev \
            libldap-dev \
            libpcre2-dev \
            librrd-dev \
            libssl-dev \
            libtirpc-dev

          if [ "${{ matrix.variant }}" = "client" ] && [ "${{ matrix.conftype }}" = "server" ]; then
            echo "Skipping PCRE dependencies for client/CT=server"
          else
            sudo apt-get install -y --no-install-recommends libpcre2-dev
          fi

      - name: Configure (${{ matrix.name }})
        env:
          CONFTYPE: ${{ matrix.conftype }}
        run: |
          USEXYMONPING=y \
          ENABLESSL=y \
          ENABLELDAP=y \
          ENABLELDAPSSL=y \
          XYMONUSER=xymon \
          XYMONTOPDIR=/usr/lib/xymon \
          XYMONVAR=/var/lib/xymon \
          XYMONHOSTURL=/xymon \
          CGIDIR=/usr/lib/xymon/cgi-bin \
          XYMONCGIURL=/xymon-cgi \
          SECURECGIDIR=/usr/lib/xymon/cgi-secure \
          SECUREXYMONCGIURL=/xymon-seccgi \
          HTTPDGID=www-data \
          XYMONLOGDIR=/var/log/xymon \
          XYMONHOSTNAME=localhost \
          XYMONHOSTIP=127.0.0.1 \
          MANROOT=/usr/share/man \
          INSTALLBINDIR=/usr/lib/xymon/server/bin \
          INSTALLETCDIR=/etc/xymon \
          INSTALLWEBDIR=/etc/xymon/web \
          INSTALLEXTDIR=/usr/lib/xymon/server/ext \
          INSTALLTMPDIR=/var/lib/xymon/tmp \
          INSTALLWWWDIR=/var/lib/xymon/www \
          ./configure --${{ matrix.variant }}

      - name: Build
        run: |
          # FIXME: building in parallel causes issues
          # see https://github.com/xymon-monitoring/xymon/issues/3
          make -j1

  build-debian:
    # TEMP: disabled while testing other builds
    if: ${{ false }}
    name: build (debian:${{ matrix.debian }} / ${{ matrix.name }})
    runs-on: ubuntu-latest
    container:
      image: debian:${{ matrix.debian }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - debian: "11"
            name: server
            variant: server
          - debian: "11"
            name: client/CT=client
            variant: client
            conftype: client
          - debian: "11"
            name: client/CT=server
            variant: client
            conftype: server

          - debian: "12"
            name: server
            variant: server
          - debian: "12"
            name: client/CT=client
            variant: client
            conftype: client
          - debian: "12"
            name: client/CT=server
            variant: client
            conftype: server

          - debian: "13"
            name: server
            variant: server
          - debian: "13"
            name: client/CT=client
            variant: client
            conftype: client
          - debian: "13"
            name: client/CT=server
            variant: client
            conftype: server

          - debian: "sid"
            name: server
            variant: server
          - debian: "sid"
            name: client/CT=client
            variant: client
            conftype: client
          - debian: "sid"
            name: client/CT=server
            variant: client
            conftype: server

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install build dependencies
        run: |
          apt-get update
          apt-get install -y --no-install-recommends \
            ca-certificates \
            git \
            build-essential \
            libc-ares-dev \
            libldap2-dev \
            librrd-dev \
            libssl-dev \
            libtirpc-dev

          if [ "${{ matrix.variant }}" = "client" ] && [ "${{ matrix.conftype }}" = "server" ]; then
            echo "Skipping PCRE dependencies for client/CT=server"
          else
            apt-get install -y --no-install-recommends libpcre2-dev pkgconf
          fi

      - name: Configure (${{ matrix.name }})
        env:
          CONFTYPE: ${{ matrix.conftype }}
        run: |
          USEXYMONPING=y \
          ENABLESSL=y \
          ENABLELDAP=y \
          ENABLELDAPSSL=y \
          XYMONUSER=xymon \
          XYMONTOPDIR=/usr/lib/xymon \
          XYMONVAR=/var/lib/xymon \
          XYMONHOSTURL=/xymon \
          CGIDIR=/usr/lib/xymon/cgi-bin \
          XYMONCGIURL=/xymon-cgi \
          SECURECGIDIR=/usr/lib/xymon/cgi-secure \
          SECUREXYMONCGIURL=/xymon-seccgi \
          HTTPDGID=www-data \
          XYMONLOGDIR=/var/log/xymon \
          XYMONHOSTNAME=localhost \
          XYMONHOSTIP=127.0.0.1 \
          MANROOT=/usr/share/man \
          INSTALLBINDIR=/usr/lib/xymon/server/bin \
          INSTALLETCDIR=/etc/xymon \
          INSTALLWEBDIR=/etc/xymon/web \
          INSTALLEXTDIR=/usr/lib/xymon/server/ext \
          INSTALLTMPDIR=/var/lib/xymon/tmp \
          INSTALLWWWDIR=/var/lib/xymon/www \
          ./configure --${{ matrix.variant }}

      - name: Build
        run: |
          # FIXME: building in parallel causes issues
          # see https://github.com/xymon-monitoring/xymon/issues/3
          make -j1

  build-freebsd:
    # TEMP: disabled while testing other builds
    #if: ${{ false }}
    name: build (freebsd:${{ matrix.freebsd }} / ${{ matrix.name }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - freebsd: "13.5"
            name: server
            variant: server
          - freebsd: "13.5"
            name: client/CT=client
            variant: client
            conftype: client
          - freebsd: "13.5"
            name: client/CT=server
            variant: client
            conftype: server

          - freebsd: "14.3"
            name: server
            variant: server
          - freebsd: "14.3"
            name: client/CT=client
            variant: client
            conftype: client
          - freebsd: "14.3"
            name: client/CT=server
            variant: client
            conftype: server

          - freebsd: "15.0"
            name: server
            variant: server
            conftype: ""
          - freebsd: "15.0"
            name: client/CT=client
            variant: client
            conftype: client
          - freebsd: "15.0"
            name: client/CT=server
            variant: client
            conftype: server

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build in FreeBSD (${{ matrix.freebsd }} / ${{ matrix.name }})
        uses: vmactions/freebsd-vm@v1
        with:
          release: ${{ matrix.freebsd }}
          usesh: true
          prepare: |
            pkg update
            pkg install -y \
              gmake \
              pkgconf \
              c-ares \
              openldap26-client \
              rrdtool

            if [ "${{ matrix.variant }}" = "client" ] && [ "${{ matrix.conftype }}" = "server" ]; then
              echo "Skipping PCRE dependencies for client/CT=server"
            else
              pkg install -y pcre2
            fi

            pw useradd -n xymon -d /nonexistent -s /usr/sbin/nologin || true

          run: |
            export CONFTYPE="${{ matrix.conftype }}"

            USEXYMONPING=y \
            ENABLESSL=y \
            ENABLELDAP=y \
            ENABLELDAPSSL=y \
            XYMONUSER=xymon \
            XYMONTOPDIR=/usr/lib/xymon \
            XYMONVAR=/var/lib/xymon \
            XYMONHOSTURL=/xymon \
            CGIDIR=/usr/lib/xymon/cgi-bin \
            XYMONCGIURL=/xymon-cgi \
            SECURECGIDIR=/usr/lib/xymon/cgi-secure \
            SECUREXYMONCGIURL=/xymon-seccgi \
            HTTPDGID=www \
            XYMONLOGDIR=/var/log/xymon \
            XYMONHOSTNAME=localhost \
            XYMONHOSTIP=127.0.0.1 \
            MANROOT=/usr/share/man \
            INSTALLBINDIR=/usr/lib/xymon/server/bin \
            INSTALLETCDIR=/etc/xymon \
            INSTALLWEBDIR=/etc/xymon/web \
            INSTALLEXTDIR=/usr/lib/xymon/server/ext \
            INSTALLTMPDIR=/var/lib/xymon/tmp \
            INSTALLWWWDIR=/var/lib/xymon/www \
            MAKE=gmake \
            ./configure --${{ matrix.variant }}

            # FIXME: building in parallel causes issues
            # see https://github.com/xymon-monitoring/xymon/issues/3
            gmake -j1


  build-netbsd:
    # TEMP: disabled while testing other builds
    # if: ${{ false }}
    name: build (netbsd:${{ matrix.netbsd }} / ${{ matrix.name }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - netbsd: "9.4"
            name: server
            variant: server
          - netbsd: "9.4"
            name: client/CT=client
            variant: client
            conftype: client
          - netbsd: "9.4"
            name: client/CT=server
            variant: client
            conftype: server

          - netbsd: "10.1"
            name: server
            variant: server
            conftype: ""
          - netbsd: "10.1"
            name: client/CT=client
            variant: client
            conftype: client
          - netbsd: "10.1"
            name: client/CT=server
            variant: client
            conftype: server

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build in NetBSD (${{ matrix.netbsd }} / ${{ matrix.name }})
        uses: vmactions/netbsd-vm@v1
        with:
          release: ${{ matrix.netbsd }}
          usesh: true
          prepare: |
            pkg_add -U \
              gmake \
              pkgconf \
              libcares \
              openldap-client \
              rrdtool

            if [ "${{ matrix.variant }}" = "client" ] && [ "${{ matrix.conftype }}" = "server" ]; then
              echo "Skipping PCRE dependencies for client/CT=server"
            else
              pkg_add -U pcre2
            fi

            /usr/sbin/useradd -d /nonexistent -s /sbin/nologin xymon || true

          run: |
            export CONFTYPE="${{ matrix.conftype }}"

            USEXYMONPING=y \
            ENABLESSL=y \
            ENABLELDAP=y \
            ENABLELDAPSSL=y \
            XYMONUSER=xymon \
            XYMONTOPDIR=/usr/lib/xymon \
            XYMONVAR=/var/lib/xymon \
            XYMONHOSTURL=/xymon \
            CGIDIR=/usr/lib/xymon/cgi-bin \
            XYMONCGIURL=/xymon-cgi \
            SECURECGIDIR=/usr/lib/xymon/cgi-secure \
            SECUREXYMONCGIURL=/xymon-seccgi \
            HTTPDGID=www \
            XYMONLOGDIR=/var/log/xymon \
            XYMONHOSTNAME=localhost \
            XYMONHOSTIP=127.0.0.1 \
            MANROOT=/usr/share/man \
            INSTALLBINDIR=/usr/lib/xymon/server/bin \
            INSTALLETCDIR=/etc/xymon \
            INSTALLWEBDIR=/etc/xymon/web \
            INSTALLEXTDIR=/usr/lib/xymon/server/ext \
            INSTALLTMPDIR=/var/lib/xymon/tmp \
            INSTALLWWWDIR=/var/lib/xymon/www \
            MAKE=gmake \
            ./configure --${{ matrix.variant }}

            # FIXME: building in parallel causes issues
            # see https://github.com/xymon-monitoring/xymon/issues/3
            gmake -j1


  build-openbsd:
    # TEMP: disabled while testing other builds
    # if: ${{ false }}
    name: build (openbsd:${{ matrix.openbsd }} / ${{ matrix.name }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - openbsd: "7.8"
            name: server
            variant: server
            conftype: ""
          - openbsd: "7.8"
            name: client/CT=client
            variant: client
            conftype: client
          - openbsd: "7.8"
            name: client/CT=server
            variant: client
            conftype: server

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build in OpenBSD (${{ matrix.openbsd }} / ${{ matrix.name }})
        uses: vmactions/openbsd-vm@v1
        with:
          release: ${{ matrix.openbsd }}
          usesh: true
          prepare: |
            ldap_pkg="$(pkg_info -Q openldap-client | grep -v -- '-gssapi' | head -n 1)"
            pkg_add -U \
              gmake \
              py3-pkgconfig \
              libcares \
              $ldap_pkg \
              rrdtool

            if [ "${{ matrix.variant }}" = "client" ] && [ "${{ matrix.conftype }}" = "server" ]; then
              echo "Skipping PCRE dependencies for client/CT=server"
            else
              pkg_add -U pcre2
            fi

            /usr/sbin/useradd -d /nonexistent -s /sbin/nologin xymon || true

          run: |
            export CONFTYPE="${{ matrix.conftype }}"

            USEXYMONPING=y \
            ENABLESSL=y \
            ENABLELDAP=y \
            ENABLELDAPSSL=y \
            XYMONUSER=xymon \
            XYMONTOPDIR=/usr/lib/xymon \
            XYMONVAR=/var/lib/xymon \
            XYMONHOSTURL=/xymon \
            CGIDIR=/usr/lib/xymon/cgi-bin \
            XYMONCGIURL=/xymon-cgi \
            SECURECGIDIR=/usr/lib/xymon/cgi-secure \
            SECUREXYMONCGIURL=/xymon-seccgi \
            HTTPDGID=www \
            XYMONLOGDIR=/var/log/xymon \
            XYMONHOSTNAME=localhost \
            XYMONHOSTIP=127.0.0.1 \
            MANROOT=/usr/share/man \
            INSTALLBINDIR=/usr/lib/xymon/server/bin \
            INSTALLETCDIR=/etc/xymon \
            INSTALLWEBDIR=/etc/xymon/web \
            INSTALLEXTDIR=/usr/lib/xymon/server/ext \
            INSTALLTMPDIR=/var/lib/xymon/tmp \
            INSTALLWWWDIR=/var/lib/xymon/www \
            MAKE=gmake \
            ./configure --${{ matrix.variant }}

            # FIXME: building in parallel causes issues
            # see https://github.com/xymon-monitoring/xymon/issues/3
            gmake -j1
